<app-header-three></app-header-three>
<app-breadcrumbs [titulo]="'Blog Details'" [descricao]="'Descricao'" [img]="'url(assets/img/subheader.jpg)'"></app-breadcrumbs>
<section class="section pb-0 errorpage">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-center">
                <img src="assets/img/banner/png/5.png" alt="img" />
            </div>
            <div class="col-lg-5 text-center">
                <div class="error-texts relative">
                    <h1>404</h1>
                    <h3>Ooops! Esta pagina não existe!</h3>
                    <p>This file May Have Been Moved or Deleted. Be Sure to Check Your Spelling.</p>
                    <a routerLink="/" class="sigma_btn-custom">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="sigma_footer footer-2 sigma_footer-dark">
    <app-footer></app-footer>
</footer>
