<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="me-lg-30">
                    <div class="section-title mb-0 text-start">
                        <h4 class="title">Sobre Nós</h4>
                    </div>
                    <p class="blockquote bg-transparent">
                        Diante dos desafios geracionais surge o UNI MOVIMENTO, muito mais que uma marca, mas o movimento de união entre jovens e de conexão com a missão de Deus.
                        <br/>
                        O chamado para a UNIDADE marca o movimento e trás consigo um UNIVERSO de possibilidades para o cumprimento deste propósito. Com bases bíblicas sólidas, uma nova cara, jeito e linguagem, o UNI vem para contar e viver os feitos de JESUS a esta geração e as próximas que estão por vir.
                        <br/><br/>
                        O atual desenho da marca UNI é o resultado de um projeto que se desenvolveu ao longo de alguns meses, envolveu etapas criativas e um plano de implementação. O nome aliado a identidade visual busca modernizar a marca gráfica da instituição, prezando pela manutenção dos valores e princípios já consolidados.
                        <br/>
                        A missão, visão e os valores,  são manifestadas através das curvas  definidas para expressar o nome do movimento, e também por meio das cores quentes, do gradiente e da comunicação clara. Uma identidade totalmente nova, mas que carrega em si a marca da juventude pentecostal da Assembleia de Deus.
                    </p>
                    <ul ngbNav #nav="ngbNav" class="nav nav-tabs fa-gla" id="myTab" role="tablist">
                        <!-- Data -->
                        <li [ngbNavItem]="1 + i" *ngFor="let item of approch;let i = index">
                            <a ngbNavLink> <i [class]="item.icon"></i> {{item.title}} </a>
                            <ng-template ngbNavContent>
                                <div [innerHtml]="item.htmltext"></div>
                            </ng-template>
                        </li>
                        <!-- Data -->
                    </ul>
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/sobre-nos/01.jpg" alt="about">
            </div>
        </div>
    </div>
</section>
