.action_edit,
.action_destroy {
    position: relative;
    display: inline-block;
    margin-right:10px;
    font-size: 1em;
    font-weight: 400;
    padding-left: 20px;
}

.action_edit i,
.action_destroy i {
    position: absolute;
    top: 0;
    left: 0;
}

.action_destroy {
    color: red;
}

.action_destroy:hover {
    color: #f35555;
}

.btn-action {
    /*border: 0;
    padding: 3px;
    margin: 0;*/
}

.action-bar {
    margin-bottom: 20px;
}

.list-read-1 {
    color: #0d88c1;
}
.list-read-0 {
    color: #cc6161;
}

.image-list {
    max-width: 100px;
    max-height: 50px;
}

.content table {
    background-color: #ffffff;
    display: none;
}

.fixed-table-body .table {
    display: table;
}

.dataTables_wrapper table {
    display: table;
}

table.dataTable {
    margin-top: 20px;
}

table.dataTable thead th, table.dataTable thead td {
    font-weight: 600;
    border-bottom: 1px solid #f3f3f3;
    background-color: #f9f9f9;
}

table.dataTable tbody td {
    border-bottom: 1px solid #f3f3f3;
    padding: 15px;
}


table.dataTable.no-footer {
    border-bottom: none;
}

.dataTables_wrapper label {
    font-weight: 500;
}

.dataTables_wrapper .dataTables_filter input {
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    text-indent: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dataTables_length select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    padding: 2px 5px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #333333;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #dcdcdc;
}

.btn-voltar {
    margin-bottom: 20px;
}