<div class="sidebar d-block">
    <div class="sidebar-widget widget-logo">
        <img src="assets/img/uni-logo2.png" class="mb-30" alt="img">
        <p>
            O chamado para a UNIDADE marca o movimento e trás consigo um UNIVERSO de possibilidades para o cumprimento
            deste propósito. Com bases bíblicas sólidas, uma nova cara, jeito e linguagem, o UNI vem para contar e viver
            os feitos de JESUS a esta geração e as próximas que estão por vir.
        </p>
    </div>
    <!-- Instagram Start -->
    <div class="sidebar-widget widget-ig">
        <h5 class="widget-title">Instagram</h5>
        <div class="row">
            <!-- Data -->
            <!-- LightWidget WIDGET --><!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3da433c8dd30514d925c59c622db7a2c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
            <!-- Data -->
        </div>
    </div>
    <!-- Instagram End -->
    <!-- Social Media Start -->
    <div class="sidebar-widget">
        <h5 class="widget-title">Siga-nos</h5>
        <div class="sigma_post-share">
            <ul class="sigma_sm square light">
                <li>
                    <a href="https://www.facebook.com/umadblu/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/umadblu#" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Social Media End -->
</div>
