<!-- About Start -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="sigma_img-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="ms-0" src="assets/img/acerte/01.png" alt="service">
                        </div>
                        <div class="col-lg-6 mt-0 mt-lg-5">
                            <img class="ms-0" src="assets/img/acerte/02.png" alt="service">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="sigma_img-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="ms-0" src="assets/img/acerte/03.png" alt="service">
                        </div>
                        <div class="col-lg-6 mt-0 mt-lg-5">
                            <img class="ms-0" src="assets/img/acerte/04.png" alt="service">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->
